
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand me-lg-5" href="./index.html">
                    <img class="navbar-brand-dark" src="https://uploads-ssl.webflow.com/613095ade900d7b3d9d2d405/6136ed677f809d77c194ff9d_dotdash_final_white_website-02.svg" alt="Logo light">
                </a>
            </div>
        </nav>
    </header>

