<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Primary Meta Tags -->
<title>
    Django DotDash - Prototype | AI
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Dotdash - Graph database usecase">
<meta name="author" content="Mikkel Skovdal">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">

<!-- Datatable -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"/>

</head>
<body>
    
    {% include 'includes/navigation.html' %}

    <main>

        <!-- Hero -->
        <section class="section-header overflow-hidden bg-primary text-white">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="fw-bolder display-2">
                            Dotdash.ai
                        </h1>
                        <h2 class="lead fw-normal text-muted mb-4 px-lg-10">
                            Powered by neo4j
                        </h2>
                    </div>
                </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2"><svg class="fill-white"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                    <path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
                </svg></figure>
        </section>
        <!-- End of Hero -->
        
        <div class="section section-lg" style="margin: 0% 5%;">
                <div class="row justify-content-center">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card shadow mb-6">
                                <div class="card-header bg-white p-3 text-center">
                                    <h3 class="text-primary mb-4">Chosen Skills</span>
                                </div>
                                <div class="card-body table-responsive-sm">
                                    <table id="static-page" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 80%" scope="col">Skill</th>
                                                <th style="width: 20%" scope="col">Weight</th>
                                            </tr>
                                        </thead>
                                        <!-- JSON getting data -->
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="card shadow mb-6">
                                <div class="card-header bg-white p-3 text-center">
                                    <h3 class="text-primary mb-4">Skills Datatable</span>
                                </div>
                                <div class="card-body">
                                    <table id="non-static-page" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Skill</th>
                                                <th scope="col">Weight</th>
                                            </tr>
                                        </thead>
                                        <!-- JSON getting data -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}
        
</body>
</html>
